__pycache__/
*.egg-info/
/build/
/dist/

/.install.*.bash.inc
*.ipynb_checkpoint*

.envrc
.manage

*.DS_Store*


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml