__pycache__/
*.egg-info/
/build/
/dist/

/.install.*.bash.inc
*.ipynb_checkpoint*

.envrc
.manage
.venv
.coverage
.vscode
cov.xml

*.DS_Store*

artifacts/
/src/aequitas/datasets

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml