__pycache__/
*.egg-info/
/build/
/dist/

/.install.*.bash.inc

.envrc

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
