/**
 * The copyright of this file belongs to Feedzai. The file cannot be reproduced in whole or in part,
 * stored in a retrieval system, transmitted in any form, or by any means electronic, mechanical, photocopying,
 * or otherwise, without the prior permission of the owner.
 *
 * © 2021 Feedzai, Strictly Confidential
 */

@import "~/constants/_colors";

.legend {
    margin-top: 20px;
}

.legend-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
}

.legend-item {
    margin-left: 3px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.legend-item-symbol {
    margin-left: 5px;
}
