/**
 * The copyright of this file belongs to Feedzai. The file cannot be reproduced in whole or in part,
 * stored in a retrieval system, transmitted in any form, or by any means electronic, mechanical, photocopying,
 * or otherwise, without the prior permission of the owner.
 *
 * © 2021 Feedzai, Strictly Confidential
 */

$dark-grey: #384140;
$grey: #798184;
$light-grey: #a2acb6;
$lighter-grey: #c4c4c4;
$lightest-grey: #f7f7f7;

$blue: #618fe0;
$dark-blue: #2c5ea8;

$green: #009376;

$orange: #e17560;
$dark-orange: #bc5543;