/**
* The copyright of this file belongs to Feedzai. The file cannot be reproduced in whole or in part,
* stored in a retrieval system, transmitted in any form, or by any means electronic, mechanical, photocopying,
* or otherwise, without the prior permission of the owner.
*
* © 2021 Feedzai, Strictly Confidential
*/
@import "~/constants/_colors";
@import "~/constants/_text";

.bold {
    font-weight: bold;
}

.blue {
    color: $blue;
}

.green {
    color: $green;
    fill: $green;
}

.orange {
    color: $orange;
    fill: $orange;
}

.label {
    text-transform: uppercase;
    font-size: 10px !important;
    padding: 0px;
}

.fair-app {
    font-family: $font-stack;
    font-size: 14px;
    color: $dark-grey;
    height: auto;

    h1 {
        font-size: 20px;
        font-weight: bold;
    }
}

.visualization {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: auto;

    svg {
        text {
            font-family: $font-stack;
        }
    }
}

.card {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tooltip-overflow {
    padding: 5px 10px;
    background-color: $dark-grey;
    font-size: small;
    color: white;
}

.arrow {
    border: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin: 0 5px;

    &.up {
        transform: rotate(-135deg);
    }

    &.down {
        transform: rotate(45deg);
    }

    &.green {
        border-color: $green;
    }

    &.orange {
        border-color: $orange;
    }

    &.grey {
        border-color: $grey;
    }
}

.point {
    fill: $light-grey;
    stroke: $light-grey;
    stroke-width: 1px;
    fill-opacity: 0.7;

    &.interactive {
        cursor: pointer;

        &:hover {
            fill: $grey;
            stroke: $grey;
        }

        &.recommended {
            &:hover {
                fill: $dark-blue;
                stroke: $dark-blue;
            }
        }
    }

    &.selected {
        stroke: $dark-grey;

        &.recommended,
        &.pareto {
            stroke: $dark-blue;
        }
    }

    &.recommended {
        fill: $blue;
        stroke: $blue;
    }

    &.pareto {
        stroke: $blue;
        stroke-width: 2px;

        &:hover {
            stroke: $dark-blue;
        }
    }
}

.pinned-border {
    fill: transparent;
    stroke: $dark-grey;
    stroke-dasharray: 3, 3;
    stroke-width: 1px;
}

.pareto-line {
    stroke: $blue;
    stroke-width: 3px;
    opacity: 0.4;
}
