{% extends "base.html" %}
{% block content %}

      <div class="row marketing">

          <br>
          <h1 style="text-align:center; color: #b37d4e;">Bias and Fairness Audit Toolkit</h1>
          <br>
          <h4 style="margin-top:40px; margin-bottom:60px; font-weight:400">This tool is powered by <a
                  href="http://dsapp.uchicago.edu/aequitas">Aequitas</a>, an open source bias
              audit toolkit for machine learning developers, analysts, and policymakers to audit machine learning models for
              discrimination and bias, and make informed and equitable decisions around developing and deploying predictive
              risk-assessment tools.</h4>

          <br>
          <br>

      <img src="/static/images/flow-0.png" width="80%" class="img-fluid center-block">
          <br>
          <br>
      <h4 style="margin-top:50px; margin-bottom:50px;" style="text-align: center; font-weight:400;">Try out the audit tool using your own data or one of our sample data sets.</h4>
          <br>

        <div class="container">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-3 col-sm-6">
        <a class="btn btn-primary btn-lg btn-block btn-group"href="{{ url_for('upload')}}" role="button">Get Started!</a>
    </div>
</div>

{% endblock %}
