<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Aequitas - The Bias Report</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
      <link href="/static/css/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/static/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <div class="container">
      <div class="header clearfix">
          <nav>
          <ul class="nav nav-pills pull-right">
              <li role="presentation" class="active"><a href="{{ url_for('home')}}">Home</a></li>
            <li role="presentation"><a href="http://github.com/dssg/aequitas" target="_blank">Code</a></li>
            <li role="presentation"><a href="http://dsapp.uchicago.edu/aequitas" target="_blank">About</a></li>
          </ul>
          </nav>
          <a href="{{ url_for('home')}}">
              <img alt="Brand" src="/static/images/aequitas_header.png" width="15%" class="img-fluid">
          </a>
      </div>

      <div class="row marketing">

          <br>
      <h1 style="text-align: center">Bias and Fairness Audit Toolkit</h1>
          <br>
      <h4 style="margin-top:40px; margin-bottom:60px; font-weight:400">This tool is powered by <a href="http://dsapp.uchiago.edu/aequitas">Aequitas</a>, an open source bias audit toolkit for machine learning developers, analysts, and policymakers to audit machine learning models for discrimination and bias, and make informed and equitable decisions around developing and deploying predictive risk-assessment tools.</h4>

          <br>
          <br>

      <img src="/static/images/flow-0.png" width="80%" class="img-fluid center-block">
          <br>
          <br>
      <h4 style="margin-top:50px; margin-bottom:50px; style="text-align: center; font-weight:400;">Try out the audit tool using your own data or one of our sample data sets.</h4>
          <br>

        <div class="container">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-3 col-sm-6">
        <a class="btn btn-primary btn-lg btn-block btn-group"href="{{ url_for('upload')}}" role="button">Get Started!</a>
    </div>
</div>

       
    

    </div>
  </div>


      <br>
      <br>
      <br>
      <br>
      <br>

      <footer align="center" class="footer">
          <p>&copy; 2018 Center for Data Science and Public Policy - University of Chicago</p>
  </footer>
    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
  </body>

</html>


