{% extends "base.html" %}
{% block content %}
      <div class="row marketing">

          <br>
          <h1 style="text-align:center; color: #b37d4e;">Select Data Set to Audit</h1>
          <br>
          <h4 style="margin-top:40px; margin-bottom:60px; font-weight:400">Try out the toolkit using your own data containg
              predictions and protected attributes to audit bias and fairness. Or audit out one of
              our sample data sets.</h4>
          <br>
          <br>

      <img src="/static/images/flow-1.png" width="80%" class="img-fluid center-block">
          <br>
          <br>

      <ul class="list-unstyled">
      {% for (category, message) in get_flashed_messages(True) %}
        <li class="alert-{{ category }}">{{ message }}</li>
      {% endfor %}
      </ul>

          <h3 style="margin-top: 50px; color:#b37d4e">Try auditing one of the sample data sets below</h3>
          <br>

          <div style="font-size: 18px;">
            <a href="{{ url_for('audit_sample', name='sample1') }}">COMPAS Recidivism Risk Assessment Data</a><a href="https://www.propublica.org/datastore/dataset/compas-recidivism-risk-score-data-and-analysis"> [About the Data]</a><br>
            <a href="{{ url_for('audit_sample', name='sample2') }}">US Adult Income Data</a> <A href="https://archive.ics.uci.edu/ml/datasets/adult"> [About the Data]</a><br>
        </div>
   </div>
      <br>
      <br>
      <br>
        <div>
            <h5 style="margin-left: 15%; margin-right: 15%; margin-top:40px; margin-bottom:40px; text-align: left; font-weight:400;">
                The data file should contain (<a href="https://dssg.github.io/aequitas/input_data.html">see
                documentation</a>):
      <ul>
          <li>"score" column - binary assessments (0 or 1 for each row) made by the predictive model (1
              denotes the
              individuals
              selected for the intervention)
          <li>columns containing attributes you want to audit for bias (column name does not matter)
          <li>"label_value" column - true future outcome for each individual (0 or 1 for each row) if
              you want to audit bias based in disparate errors
        </li></ul>
                Please note that any data you upload will be used to generate the audit report for you and then deleted. We do
                encourage you to use the <a href="https://dssg.github.io/aequitas/30_seconds_webapp.html">desktop version of the
                audit tool</a> if your data is private and sensitive.
      </div>

      <div style="margin-left: 15%; margin-right: 15%; background:#B37D4E !important" class="jumbotron">
          <h3 align="center">Or Audit Your Own Data</h3>

          <form align="center" method=post enctype=multipart/form-data action="{{ url_for('upload_file') }}">
              <input type=file name=file>
              <input type=submit value=Upload>
          </form>
        </div>

  </div>

{% endblock %}
