/**
 * The copyright of this file belongs to Feedzai. The file cannot be reproduced in whole or in part,
 * stored in a retrieval system, transmitted in any form, or by any means electronic, mechanical, photocopying,
 * or otherwise, without the prior permission of the owner.
 *
 * © 2021 Feedzai, Strictly Confidential
 */

@import "~/constants/_colors";

.error {
    background-color: rgba($dark-orange, 0.08);
    padding: 5px 15px;
    border: $dark-orange 1px solid;
    border-radius: 5px;

    pre {
        background-color: white;
        border: $lighter-grey 0px solid;
        padding: 3px 10px;
    }
}
