@import "./colors.scss";

$title-font-size: 22px;
$axis-title-font-size: 18px;

.aequitas-chart {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $grey-dark-3;

    h1 {
        font-size: $title-font-size;
        font-weight: bold;
        color: $grey-dark-3;
    }
}

.aequitas-chart-area {
    display: flex;
    flex-direction: row;
}

.aequitas-grid {
    line {
        stroke: $grey-light-3;
        stroke-width: 1px;
    }
}

.aequitas-row-names {
    font-weight: bold;
    font-size: $axis-title-font-size;
    fill: $grey-dark-3;
}

.aequitas-row-line {
    stroke-width: 1px;
    stroke: $grey-dark-3;
}

.aequitas-bubble {
    opacity: 0.2;
}

.aequitas-equal-ref-line {
    stroke: $grey-dark-3;
    stroke-dasharray: 5 5;
    stroke-width: 2px;
}

.aequitas-threshold {
    &-band {
        opacity: 0.1;
    }
    &-rule {
        opacity: 0.8;
        stroke-width: 2px;
    }
}

.aequitas-legend {
    &-title {
        font-weight: bolder;
        font-size: $axis-title-font-size;
    }

    &-item {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
            margin: 0px 7px;
        }
    }
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
