<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bias Radar</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>


  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Bias Radar</h3>
      </div>

      <div class="row marketing">
         <h1>Customize report</h1>

    <p><b>Select method of determining reference group:</b></p>
    <div>
    <input type='radio' name='ref_group'> Custom group &nbsp;&nbsp;&nbsp;&nbsp;
    <input type='radio' name='ref_group'> Majority group &nbsp;&nbsp;&nbsp;&nbsp;
    <input type='radio' name='ref_group'> Min metric &nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <br>
    <p><b>Select variables that should be used to check for bias and the reference group for each group:</b></p>
    <form method="post">

    {% for cat in categories %}
    <p>
        <input type="checkbox" name="group_variable" value="{{cat}}">{{cat}}
        <select name="{{cat}}" method="GET" action="/", float>
            <option value="{{subcategories[cat][0]}}" selected>{{subcategories[cat][0]}}</option>
            {% for sc2 in subcategories[cat][1:] %}
                <option value="{{sc2}}">{{sc2}}</option>
            {% endfor %}
        </select>
    </p>
    {% endfor %}



    <p><b>Select Fairness measures that should be computed:</b></p>

    {% for fm in fairness %}
        <input type="checkbox" name="fairness_measures" value="{{fm}}">{{fm}}<br>
    {% endfor %}
    <br>

    <p><b>Enter percentage difference in the measures that consitutes Fairness or unfairness:</b><p>
    <input type="text" name="fairness_pct" placeholder='20'>%

    <p><input type="submit" name="submit", value="Generate Fairness Report"></p>
    </form>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
