
<!DOCTYPE html>
<html lang="en">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="../static/js/toggle_radio.js"></script>


<body>
     <center>
              <div style="padding:25px;width: 100px;">
                   <input id="id1" type="radio" name="name_radio1" value="r1" checked="checked" />Radio1
                   <input id="id2" type="radio" name="name_radio1" value="r2" />Radio2
              </div>
              <div align="center" style="padding:25px;width: 300px;">
                   <div id="div1" style="display:none;">This is First (1st) division</div>
                   <div id="div2" style="display:none;">This is Second (2nd) division</div>
              </div>
     </center>
</body>

</html>
